.cell {
  width: var(--cellSize);
  height: var(--cellSize);
  border: 1px solid var(--theme-900);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--theme-50);
  color: var(--theme-400);
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  font-size: 0.7rem;
  font-family: sans-serif;
  transition: all 0.25s ease-in-out;
}
.cell:not(.state1):not(.state2):not(.state3):hover {
  background-color: var(--theme-800);
  color: var(--theme-200);
  z-index: 100;
}

.clicked {
}

/* water */
.state0 {
  background-color: var(--cellEmptyColor);
}

/* missed hit */
.state1 {
  background-color: var(--cellMissColor);
}

/* ship */
.state2 {
  background-color: var(--cellShipColor);
}

/* ship hit */
.state3 {
  background-color: var(--cellHitColor);
  color: var(--theme-200);
}

/* ship sunk */
.state4 {
  background-color: var(--cellShipSunkColor);
}

/* marked */
.state5 {
  background-color: var(--cellMarkedColor);
}
